# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HandMathGame.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\takam\Desktop\QuizKnock\Unity\HandMathGame\.idea\.idea.HandMathGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
